<a href="https://colab.research.google.com/github/hetal-tiwari/Resume-Recommendation-System/blob/main/cosine_similarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import numpy as np 
import pandas as pd
df = pd.read_csv('resume_dataset.csv' ,encoding='utf-8')
df['cleaned_resume'] = ''
df.head()

   ID  ... cleaned_resume
0   1  ...
1   2  ...
2   3  ...
3   4  ...
4   5  ...

[5 rows x 4 columns]

In [ ]:
from io import StringIO
col=['Category','Resume']
df=df[col]
df.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [ ]:
df['Resume']=df['Resume'].str.lower()
print(df['Resume'])

0      skills * programming languages: python (pandas...
1      education details \r\nmay 2013 to may 2017 b.e...
2      areas of interest deep learning, control syste...
3      skills â¢ r â¢ python â¢ sap hana â¢ table...
4      education details \r\n mca   ymcaust,  faridab...
                             ...
164    computer skills: â¢ proficient in ms office (...
165    â willingness to accept the challenges. â ...
166    personal skills â¢ quick learner, â¢ eagerne...
167    computer skills & software knowledge ms-power ...
168    skill set os windows xp/7/8/8.1/10 database my...
Name: Resume, Length: 169, dtype: object

In [ ]:
import re
def cleanResume(resumeText):
    resumeText = re.sub('http\S+\s*', ' ', resumeText)  # remove URl
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#\S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@\S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText) 
    resumeText = re.sub('\s+', ' ', resumeText)  # remove extra whitespace
    return resumeText

In [ ]:
df['cleaned_resume'] = df.Resume.apply(lambda x: cleanResume(x))
print (df['cleaned_resume'])

0      skills programming languages python pandas num...
1      education details may 2013 to may 2017 b e uit...
2      areas of interest deep learning control system...
3      skills r python sap hana tableau sap hana sql ...
4      education details mca ymcaust faridabad haryan...
                             ...
164    computer skills proficient in ms office word b...
165     willingness to a ept the challenges positive ...
166    personal skills quick learner eagerness to lea...
167    computer skills software knowledge ms power po...
168    skill set os windows xp 7 8 8 1 10 database my...
Name: cleaned_resume, Length: 169, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import hstack


tfidf = TfidfVectorizer(sublinear_tf= True, #use a logarithmic form for frequency
                       min_df = 5, #minimum numbers of documents a word must be present in to be kept
                       norm= 'l2', #ensure all our feature vectors have a euclidian norm of 1
                       ngram_range= (1,2), #to indicate that we want to consider both unigrams and bigrams.
                       stop_words ='english')
features = tfidf.fit_transform(df['cleaned_resume']).toarray()

In [ ]:
print(features)

[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.0773992  0.         0.        ]
 [0.         0.         0.         ... 0.06125239 0.         0.        ]
 ...
 [0.         0.05346884 0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.13736365 0.         ... 0.         0.         0.        ]]

In [ ]:
train_set=[" Working knowledge of Java/J2EE/J2SE 1.8 and above Experience with DB2 or Oracle Database J2EE Frameworks (Spring) Hibernate IBM MQ WebSphere or equivalent. In-depth knowledge of systems analysis and design; strong hands-on experience in systems development and systems life cycle methodologies. Self-motivated resourceful and able to conduct in-depth research as required. Ability to perform highly detailed Work on multiple concurrent tasks. Excellent verbal and written communication skills would be given a preference as he would need to communicate with Global clients. He should be a great TEAM member and team builder and also respect the corporate culture." ]

In [ ]:
y=tfidf.transform(train_set)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(features,y)

In [ ]:
df["similarity"]=cosine_sim

In [ ]:
df=df.sort_values(by=['similarity'],ascending=False)
df.head()

               Category  ... similarity
74       Java Developer  ...   0.195581
76       Java Developer  ...   0.174099
137            Database  ...   0.169468
65       Java Developer  ...   0.160517
94   Automation Testing  ...   0.152356

[5 rows x 4 columns]

In [ ]:
print(cosine_sim)

[[0.06734592]
 [0.02553114]
 [0.05780074]
 [0.06296565]
 [0.03364384]
 [0.00385039]
 [0.04342649]
 [0.10099415]
 [0.07733547]
 [0.09091182]
 [0.00537816]
 [0.03957117]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.03738706]
 [0.        ]
 [0.04103835]
 [0.        ]
 [0.05700875]
 [0.10387799]
 [0.05033533]
 [0.        ]
 [0.        ]
 [0.03304756]
 [0.07978116]
 [0.        ]
 [0.00735117]
 [0.03211296]
 [0.03955429]
 [0.00599641]
 [0.1198752 ]
 [0.04131748]
 [0.0820537 ]
 [0.        ]
 [0.        ]
 [0.0470162 ]
 [0.06009517]
 [0.04818389]
 [0.06009517]
 [0.01555043]
 [0.08273041]
 [0.06759846]
 [0.06783011]
 [0.        ]
 [0.08089192]
 [0.04156218]
 [0.01222312]
 [0.10658641]
 [0.09835922]
 [0.04084814]
 [0.07244726]
 [0.02200795]
 [0.0269408 ]
 [0.08746145]
 [0.02355622]
 [0.09674372]
 [0.05978074]
 [0.0498591 ]
 [0.00804908]
 [0.06871224]
 [0.03205812]
 [0.09012029]
 [0.00649293]
 [0.04061946]
 [0.16051733]
 [0.11765812]
 [0.13438253]
 [0.06871893]
 [0.12159128]
 [0.15121882]
 [0.15121882]
 [0.08128178]
 [0.10740834]
 [0.19558148]
 [0.0826545 ]
 [0.17409878]
 [0.07799461]
 [0.05130709]
 [0.04097909]
 [0.08072954]
 [0.11728849]
 [0.04255987]
 [0.07425803]
 [0.04985897]
 [0.03980958]
 [0.05421192]
 [0.01023036]
 [0.12183674]
 [0.1360381 ]
 [0.11737868]
 [0.06498552]
 [0.04059989]
 [0.05987174]
 [0.15235617]
 [0.03627505]
 [0.03332907]
 [0.08221977]
 [0.        ]
 [0.10726334]
 [0.        ]
 [0.03205533]
 [0.11473527]
 [0.06197128]
 [0.04252195]
 [0.07899633]
 [0.14703899]
 [0.06016936]
 [0.00556666]
 [0.07910587]
 [0.02455163]
 [0.05256756]
 [0.0787351 ]
 [0.08901806]
 [0.138427  ]
 [0.07859863]
 [0.06303016]
 [0.15056011]
 [0.06008166]
 [0.06559228]
 [0.04855829]
 [0.03803606]
 [0.02959499]
 [0.01095164]
 [0.10892999]
 [0.10145494]
 [0.08040202]
 [0.10731861]
 [0.05921252]
 [0.06669048]
 [0.04896621]
 [0.05775328]
 [0.05249268]
 [0.05576593]
 [0.09922395]
 [0.0447526 ]
 [0.04826742]
 [0.16946835]
 [0.06904276]
 [0.03975233]
 [0.02837958]
 [0.03790521]
 [0.05807622]
 [0.10472684]
 [0.03756856]
 [0.05205921]
 [0.09078689]
 [0.03462973]
 [0.12316769]
 [0.04586959]
 [0.01214659]
 [0.        ]
 [0.0392717 ]
 [0.02112556]
 [0.0443623 ]
 [0.02841447]
 [0.01661738]
 [0.0330188 ]
 [0.05233027]
 [0.02010306]
 [0.0715389 ]
 [0.03554963]
 [0.01264697]
 [0.04209129]
 [0.06431415]
 [0.05237658]
 [0.0318468 ]
 [0.04337952]
 [0.02241398]]